* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1rem;
}

.carousel {
	display: flex;
	width: 900px;
	max-width: 100%;
	height: 500px;
	max-height: 80vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.highlighted {
	height: 100%;
	width: 80%;
}

.highlighted .slide {
	position: relative;
	display: none;
	height: 100%;
}

.highlighted img {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.highlighted .contents {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1.5rem;
	color: white;
	text-align: right;
}

.carousel .highlighted .active {
	display: block;
}

.thumbs {
	position: relative;
	width: 20%;
}

.thumbs .thumbs-imgs {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.carousel .btn {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: 2.5rem;
	z-index: 9;
}

.carousel .btn-prev {
	top: 15px;
}

.carousel .btn-next {
	bottom: 15px;
}

.thumbs img {
	flex: 1 0 0;
	display: block;
	width: 100%;
	height: 0;
	object-fit: cover;
	filter: brightness(.3);
}

.thumbs .active {
	filter: brightness(1);
	border: 5px solid lightgrey;
}